span{
    color: pink;
}
h1,h2,h3,p { 
    margin-left: 100px;
} 
h1 { 
    font-size: 70px;
} 
p { 
    font-size: 40px;
} 
a { 
    text-decoration: none;
} 

/* Navigation bar */
nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:pink;
} 
nav ul li { 
    border: 1px solid papayawhip;
    padding: 10px;
    list-style-type: 20;
    display :inline ;
} 
/* Images */
img { 
    height: 300px;
    width: 450px;
} 